// Default
$defaultColorText: $tundra;
$defaultColorBgPost: $fantasy;
$defaultFill: $white;
$defaultColorCursorHover: $scorpion;
$defaultIndent: $defaultPadding;
$defaultColorBorder: $alto;

//Fonts
$titleFont:  $fontBold;
$titleFontSemiBold: $fontSemiBold;
$defaultFontTitle:  $fontMedium;
$defaultFontText: $fontRegular;
$fontTextLight: $fontLight;

//Font size
$fontBigSize: $fontLSize;
$fontTitleSize: $fontMidSize;
$fontDefaultSize: $fontSmSize;
$fontSmallSize: $fontXSmallSize;

//Hover
$defaultButtonHoverFill: $mineShaft;
$defaultButtonHoverText: $white;

//Fill
$footerBgFill: $alabaster;
$contactUsBgFill: $alabaster;

//Color
$informationDetailsBlog: $gray;
$borderBoldColor: $mercury;
$divider: $alto;
$colorTextDarkButton: $white;
$colorBgDarkButton: $tundra;
$colorBgDark: $tundra;
$colorBorderForm: $alto;
$colorBorderError: $froly;
$colorBgPromises: $champagne;

//$colorBgTypography: $anakiwa;
$colorBgIconSet: $anakiwa;
$colorBgAccurate: $sundown;
$colorBorderTitle: $tundra;
$colorTextCarousel: $white;
$colorShadow: $gray;
$colorBgCarouselPost: $abbey;
