// Default
$defaultColorText: $tundra;
$defaultColorBgPost: $fantasy;
$defaultFill: $white;
$defaultColorCursorHover: $scorpion;
$defaultIndent: $defaultPadding;

//Fonts
$titleFont:  $fontBold;
$titleFontSemiBold: $fontSemiBold;
$defaultFontTitle:  $fontMedium;
$defaultFont: $defaultFontText;
$fontLight: $fontTextLight;

//Font size
$fontBigSize: $fontLSize;
$fontTitleSize: $fontMidSize;
$fontDefaultSize: $fontSmSize;
$fontSmallSize: $fontXSmallSize;

//Hover
$defaultButtonHoverFill: $mineShaft;
$defaultButtonHoverText: $white;

//Fill
$footerBgFill: $alabaster;

//Color
$informationDetailsBlog: $gray;
$borderBoldColor: $mercury;
$divider: $alto;

