//@import url(https://www.freebestfonts.com/hind-siliguri-font);

@font-face {
  font-family: 'Hind Siliguri Bold';
  font-style: normal;
  src: url(../../fonts/Hind_Siliguri/HindSiliguri-Bold.ttf);
}

@font-face {
  font-family: 'Hind Siliguri SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf);
}

@font-face {
  font-family: 'Hind Siliguri Medium';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Hind_Siliguri/HindSiliguri-Medium.ttf);
}

@font-face {
  font-family: 'Hind Siliguri Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/Hind_Siliguri/HindSiliguri-Regular.ttf);
}
