// Colors
// Named via http://chir.ag/projects/name-that-color/
$tundra: #4D4949;
$fantasy: #FCF6F6;
$white: #ffffff;
$scorpion: #5C5C5C;
$mineShaft: #393737;
$alabaster: #F8F8F8;
$gray: #818181;
$mercury: #E6E6E6;
$alto: #dddddd;
$anakiwa: #B0D1FF;
$sundown: #FFB0B0;
$abbey: #494A4D;

//Path to images
//$pathToImage: '../images/img/';
//$pathToIcon: '../images/icon/';

//Fonts
$fontBold:  "Hind Siliguri Bold", 'Arial', sans-serif;
$fontMedium:  "Hind Siliguri Medium", 'Arial', sans-serif;
$fontSemiBold: "Hind Siliguri SemiBold", 'Arial', sans-serif;
$fontRegular: "Hind Siliguri Regular", 'Arial', sans-serif;
$fontLight: "Hind Siliguri Light", 'Arial', sans-serif;

//Font size
$fontLSize: 28px;
$fontMidSize: 24px;
$fontSmSize: 15px;
$fontXSmallSize: 8px;

//Paddings
$defaultPadding:  25px;